{% extends "layout.twig" %}

{% block content %}
	  <h1>
    Usuario
    <small>Registro</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./usersadd">Usuario</a></li>
    <li class="active">Registro</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Registre un nuevo usuario</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="./usersadd" method="post">
          <div class="box-body">
            <div class="form-group">
              <label>Nombre:</label>
              <input type="text" name="nombreUsuario" class="form-control" placeholder="Nombre y Apellido" required>
            </div>
            <div class="form-group">
              <label>Email:</label>
              <input type="email" name="email" class="form-control" placeholder="nombre@empresa.com" required>
            </div>
            <div class="form-group">
              <label>Contraseña:</label>
              <input type="password" name="pass" class="form-control" placeholder="Minimo 6 caracteres" minlength="6" required>
            </div>
            <div class="form-group">
              <label>Rol:</label>
              <select class="form-control select-picker" name="rol" required>
                <option value="" selected="selected">Seleccione el rol</option>
                <option value="Gerente">Gerente</option>
                <option value="Jefe_Personal">Jefe Personal</option>
                <option value="Administrador_oficina">Administrador oficina</option>
              </select>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
          <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        </form>
      </div>
{% endblock %}