{% extends "layout.twig" %}

{% block content %}

</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
      <!-- general form elements -->


      <div class="col-xs-12">
        <img id="profile-picture" src="./uploads/VerdeMenta.jpeg" alt="LogoVerdeMenta" width='630' height='350'>
      
      <h1>Dashboard</h1>
<ul>
	<li><a href="./usersadd">Add User</a></li>
	
</ul>
<br><br>
<a href="./logout">Logout</a>

      </div>


{% endblock %}