{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>
<ul>
	<li><a href="./usersadd">Add User</a></li>
	<li><a href="./jobsadd">Add Job</a></li>
</ul>
<br><br>
<a href="./logout">Logout</a>
{% endblock %}