{% extends "layout.twig" %}

{% block content %}
  
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
      <!-- general form elements -->


      <div class="col-xs-12">
        <img id="profile-picture" src="./uploads/VerdeMenta.jpeg" alt="Logo" width='630' height='350'>
      </div>
      
{% endblock %}