{% extends "layout.twig" %}  

{% block content %}


  <h1>
    Tarea
    <small>Registro</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./tarealist">Tarea</a></li>
    <li class="active">Registro</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12 col-sm-8 col-md-6">
     <div class="box">
      
      <!-- /.box-header -->
      <div class="box-body">
       <div class="box-footer">
       <div class="box-header with-border">
        <h3 class="box-title">Asignar tarea al operario</h3>
      </div>
      <br>
       <form action="tareadel" method="post" role="form">
        <div class="form-group col-xs-12 col-sm-8 col-md-6">
          <label>Introduce lectura del codigo de barras:</label>
        </div>
        <div class="form-group col-xs-12 col-sm-8 col-md-6">
          <input type="text" name="idCode" class="form-control" placeholder="Busqueda individual" required>
        </div>
        <div class="box-footer col-xs-12 col-sm-8 col-md-6">
          <button type="submit" name="boton" value="code" class="btn btn-primary">Buscar codigo</button>
        </div>
       </form>
       </div>
       <div class="box-footer">
       <form action="tareadel" method="post">
        <div class="form-group col-xs-12 col-sm-8 col-md-6">
          <label>Introduce referencia de la orden de produccion:</label>
        </div>
        <div class="form-group col-xs-12 col-sm-8 col-md-6">
          <input type="text" name="refOrden" class="form-control" placeholder="Busca todas las tareas de esta referencia" required>
        </div>
        <div class="box-footer col-xs-12 col-sm-8 col-md-6">
          <button type="submit" name="boton" value="ref" class="btn btn-primary">Buscar Referencia</button>
        </div>
        <div class="alert alert-primary col-xs-7" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
       </form>
       </div>
      </div>
      <!-- /.box-body -->
      </div>
    </div>
    

{% endblock %}
