{% extends "layout.twig" %}

{% block content %}
	  <h1>
    Usuario
    <small>Actualización</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="./"><i class="fa fa-dashboard"></i> Escritorio</a></li>
    <li><a href="./usersupdate">Usuario</a></li>
    <li class="active">Actualización</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Actualice su contraseña</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form action="./usersupdate" method="post">
          <div class="box-body">
            <div class="form-group">
              <label>Contraseña anterior:</label>
              <input type="password" name="passOld" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
              <label>Nueva contraseña:</label>
              <input type="password" name="passNew" class="form-control" placeholder="" minlength="6" required>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
          <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
        </form>
      </div>
{% endblock %}